{% extends 'blog/base.html' %}
{% block content %}

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }}</a></h1>
            <div style="background-color: #f8f8f8; padding: 3px 5px 5px 5px">
                <p class="listTxt" style="background-color: #fcf7f7"> {{ post.text|truncatechars:800|linebreaksbr }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
